* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 2em;
  background-color: rgb(231, 223, 223);
 /* color: #4d4e53;*/
}
header{
    padding: 10px;
    font-weight: bold;
    font-size: 27px;
}
nav a{
    padding: 5px;
    overflow: scroll;
}
a{
    display: block;
    border-bottom: 1px solid black;    
}


